version: "3.7"

services:
  django:
      build: .
      container_name: django
      command: python manage.py runserver 0.0.0.0:8000
      volumes:
        - .:usr/src/app/
      ports:
        - "8000:8000"
      environment:
        - DEBUG=1
        - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1
        - CELERY_BROKER=redis://redis:6379/0
        - CELERY_BACKEND=redis://redis:6379/0
      depends_on:
        - pgdb
        - redis
  celery:
      built: .
      command: celery worker --app=Integrated_Coding --loglevel=info
      volumes: 
        - .:/usr/src/app/ 
      depends_on:
        - django
        - redis
  pgdb:
      image: postgres
      container_name: pgdb
      environment:
        - POSTGRES_DB=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
      volumes:
        - pgdata:/var/lib/postgresql/data/
  redis:
      image:"redis:alpine"
volumes:
  pgdata:


