{% extends "base.html" %}

{% load static %}

{% block title %}| Profile{% endblock %}

{% block html_head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  <video src={% static 'images/background_video.mp4'%} class="video-background" autoplay loop muted plays-inline></video>

  <div class="content">
    <div class="container">
      <button style="margin-left: 45rem;" type="submit" class="btn btn-primary"><a style="color: #fff; text-decoration: none;" href="{% url 'edit-profile' %}">Edit Profile</a></button>

      <div class="profile">
        <img src="{{user.profile.image.url}}" alt="Profile Picture">

        <div>
          <h1>{{user.profile.fullname}}</h1>
          <h4>@{{user.username}}</h4>
          <h6>{{user.profile.institute}}</h6>
        </div>
      </div>

      <h2>Skills</h2>
      <div class="skills">
        {% for skill in user_skills %}
        <span class="skill">{{skill}}</span>
        {% endfor%}
      </div>
      <div>
        <h2>About Me</h2>
        <p>{{user.profile.about}}</p>
        
        <h2>Personal Details</h2>
        <div class="personal-details">
        <table>
          <tr>
            <td>Email:</td>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <td>Year of Passing:</td>
            <td>{{user.profile.yop}}</td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>{{user.profile.city}}, {{user.profile.state}}</td>
          </tr>
          <tr>
            <td>Course:</td>
            <td>{{user.profile.course}}</td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>{{user.profile.gender}}</td>
          </tr>
        </table>
      </div>
        <br>
        <h2>Coding Platform Details</h2>
        <div class="platform-details">
          <form method="post">
              {% csrf_token %}
            <div class="form-group">
                {%load crispy_forms_tags%}
                {{ form|crispy }}
            </div>
            <br>
          <button type="submit" class="btn btn-primary">Update</button>
          </form>
      </div>
      </div>
    </div>
  </div>
{% endblock %} 